<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
    </head>
    <body>
        <header>
            <h1>Login</h1>
        </header>
        <main>
            <div>
                <form action="/auth/login" method="POST">
                    <div>
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" required />
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input
                            type="password"
                            name="password"
                            id="password"
                            required
                        />
                    </div>
                    <button>Login</button>
                </form>
            </div>
            <div>
                <p>Don't have an account?</p>
                <a href="/auth/signup">signup</a>
            </div>
        </main>
    </body>
</html>
