<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Signup</title>
    </head>
    <body>
        <header>
            <h1>Signup</h1>
        </header>
        <main>
            <div>
                <p id="generalError"></p>
            </div>
            <div>
                <form action="/auth/signup" method="POST" id="signupForm">
                    <div>
                        <label for="name">Name</label>
                    </div>
                    <input
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Name *optional"
                    />
                    <div>
                        <label for="username">Username</label>
                    </div>
                    <input
                        type="text"
                        name="username"
                        id="username"
                        placeholder="Username"
                        required
                    />
                    <div>
                        <label for="email">Email</label>
                    </div>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Email *optional"
                    />
                    <div>
                        <label for="password">Password</label>
                    </div>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        required
                    />
                    <div>
                        <button>Signup</button>
                    </div>
                </form>
            </div>
            <div>
                <p>Have an account?</p>
                <a href="/auth/login">Login</a>
            </div>
        </main>
    </body>
    <script>
        const generalError = document.getElementById("generalError");
        const inputs = Array.from(document.querySelectorAll("input"));
        const form = document.getElementById("signupForm");
        form.addEventListener("submit", async (e) => {
            e.preventDefault();
            clearErrors();
            const formData = getFormData(form);
            const response = await fetch("/auth/signup", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(formData),
            });
            const data = await response.json();
            console.log(data);
            if (data.error) {
                displayErrors(data.error.errors);
                return;
            }
            window.location.replace("/auth/login");
        });
        function getFormData(form) {
            const formData = new FormData(form);
            const data = {};
            for (let [key, value] of formData.entries()) {
                data[key] = value;
            }
            return data;
        }
        function clearErrors() {
            generalError.textContent = "";
            const errors = document.querySelectorAll("[data-error]");
            errors.forEach((error) => {
                error.remove();
            });
        }
        function displayErrors(errors) {
            if (errors.general) {
                generalError.textContent = errors.general;
            }
            Object.keys(errors).forEach((error) => {
                const errorValue = errors[error].message;
                const i = document.getElementById(error);
                if (i) {
                    const div = document.createElement("div");
                    div.setAttribute("data-error", "true");
                    div.classList.add("error");
                    div.textContent = errorValue;
                    i.insertAdjacentElement("afterend", div);
                } else {
                    console.log(error, errorValue);
                }
            });
        }
    </script>
</html>
